body {
	color : blue;
	
	font-family: Verdana,sans-serif;
}
a {
	color : blue;
	font-size : 25px;
	text-decoration : none;
}
b {
	color : blue;
	font-size : 30px;
}
table {
	border-collapse : collapse;
	
	position : absolute;
	left : 180px;
	top : 160px;
}
td {
	border-right : 1px solid blue;
	padding-left : 14px;
	padding-right : 14px;
	padding-top : 2px;
	padding-bottom : 2px;
	
	text-decoration : none;
	
	border-collapse : collapse;
}
#rechts {
	border : none;
}
#Country {
	font-size : 40px;
	
	position : absolute;
	top : 15px;
	left: 160px;
}
img {
	width : 130px;
	height : 130px;
}
input {
	font-size : 25px;
	
	border : none;
	padding : 4px;
	background-color : white;
	color : blue;
	
	position : absolute;
	top : 163px;
	left : 1000px;
}
.top {
	background-color : lightblue;
	height : 200px;
}
.Culture {
	heigth : 200
	width : 300;
}
